[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
pytest = "*"

[packages]
asyncio = "*"
websockets = "*"
chatterbot_corpus = "*"
bocadillo = "==0.13.3"

[requires]
python_version = "3.6"
