[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"

[packages]
bocadillo = "*"
asyncio = "*"
websockets = "*"
chatterbot = "*"
chatterbot-corpus = "*"

[requires]
python_version = "3.6"
