<!DOCTYPE html>
<html>
<head>
  <title>Chat with Diego</title>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js" defer></script>
  <script src="./static/js/components/chatlines.js" defer></script>
  <script src="./static/js/app.js" defer></script>
</head>
<body>
  <div id="app">
    <h1>Chat with [[ botname ]]</h1>
    <div>
      <h3>Username is: [[ username ]]</h3>
    </div>
    <div>
      <ol>
        <li v-for="line in conversation"
              v-bind:message="line"
              v-bind:author="username">
          [[ line ]]
        </li>
      </ol>
    </div>
    <div>
      <h2>Settings</h2>
      <label for="username">Username</label>
      <input type="text" value="username" placeholder="Username" v-model="username" />
      <br>
      <label for="chat">Say something</label>
      <div>
        <input type="text" value="chatline" placeholder="Say something" v-model="newInput" />
        <button v-on:click="conversation.push(newInput)">Send Message</button>
      </div>
    </div>
  </div>
</body>
</html>